# Importing CSV using Numpy and Pandas
# Filtering Sorting and Grouping DataFrame using Pandas

In [85]:
import numpy as np
import pandas as pd

### Importing Data using Pandas read_csv

In [86]:
df=pd.read_csv("Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### Import using numpy

In [87]:
data = np.loadtxt("Pokemon.csv",delimiter=",",dtype=object)
data[0]

array(['1', 'Bulbasaur', 'Grass', 'Poison', '318', '45', '49', '49', '65',
       '65', '45', '1', 'False'], dtype=object)

### Find out numerical data from ndarray and convert it into int

In [88]:
data[0]
#column number 0, 4, 5, 6, 7, 8, 9, 10, 11 are numeric string and they are convertible to int

array(['1', 'Bulbasaur', 'Grass', 'Poison', '318', '45', '49', '49', '65',
       '65', '45', '1', 'False'], dtype=object)

In [89]:
data[:,0]=data[:,0].astype(int)
data[:,4:12]=data[:,4:12].astype(int)
data[0]

array([1, 'Bulbasaur', 'Grass', 'Poison', 318, 45, 49, 49, 65, 65, 45, 1,
       'False'], dtype=object)

### Get name of columns of DataFrame

In [90]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

### Display top 10 rows of DataFrame

In [91]:
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

## Sorting and describing data
### Describing data

In [92]:
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

### Sort name by alphabetical order

In [93]:
df.sort_values("Name").head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False

### Sort by "HP" in descending order

In [94]:
df.sort_values("HP", ascending=False).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
155,143,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False
473,426,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False
313,289,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False
544,487,GiratinaAltered Forme,Ghost,Dragon,680,150,100,120,100,120,90,4,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True

### Sort by Attack and Defense in descending order

In [95]:
df.sort_values(["Attack","Defense"],ascending=[0,0]).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
424,383,GroudonPrimal Groudon,Ground,Fire,770,100,180,160,150,90,90,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True
494,445,GarchompMega Garchomp,Dragon,Ground,700,108,170,115,120,95,92,4,False
711,646,KyuremBlack Kyurem,Dragon,Ice,700,125,170,100,120,90,95,5,True
527,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,False
387,354,BanetteMega Banette,Ghost,NaN,555,64,165,75,93,83,75,3,False
454,409,Rampardos,Rock,NaN,495,97,165,60,65,50,58,4,False

## Filtering Data
### Retrive data such that Type1 = Grass (filtering condition Type1 == "Grass")

In [96]:
df.loc[df["Type 1"]=="Grass"].tail(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
659,598,Ferrothorn,Grass,Steel,489,74,94,131,54,116,20,5,False
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False

### Filtering condition Type1 == "Grass" & Type2 == Poision

In [97]:
df.loc[(df["Type 1"]=="Grass") & (df["Type 2"]=="Fighting")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
310,286,Breloom,Grass,Fighting,460,60,130,80,60,60,70,3,False
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

### Get numerical data columns

In [98]:
numerical_columns=df.select_dtypes(include='number').columns
numerical_columns

Index(['#', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed',
       'Generation'],
      dtype='object')

## Groupby
### Get mean groupby Type 1

In [99]:
df.groupby("Type 1")[df.select_dtypes(include='number').columns].mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143

### Get mean groupby Type 2 and sort them by descending "Total"

In [100]:
df.groupby(["Type 2"])[numerical_columns].mean().sort_values(["Total"],ascending=False)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 2,,,,,,,,,
Dragon,482.555556,526.166667,82.166667,94.444444,87.055556,98.500000,83.444444,80.555556,4.166667
Fighting,438.192308,525.846154,79.461538,112.846154,82.500000,81.269231,82.384615,87.384615,3.923077
Ice,441.285714,525.714286,90.000000,98.000000,85.642857,92.642857,84.785714,74.642857,3.714286
Fire,481.833333,506.250000,71.250000,81.250000,80.166667,110.416667,83.500000,79.666667,4.000000
Steel,435.636364,485.227273,64.636364,92.590909,104.636364,77.727273,86.272727,59.363636,3.818182
Dark,413.850000,484.400000,75.550000,109.800000,72.050000,81.800000,69.850000,75.350000,3.750000
Psychic,337.151515,479.060606,72.212121,74.696970,87.030303,88.030303,87.606061,69.484848,2.939394
Electric,465.666667,455.333333,88.166667,72.666667,68.333333,81.166667,73.500000,71.500000,4.000000
Flying,331.103093,452.546392,71.391753,80.288660,68.309278,75.628866,71.206186,85.721649,3.072165
Ground,307.600000,444.342857,77.228571,89.857143,90.314286,65.542857,66.742857,54.657143,2.942857
Rock,347.785714,434.642857,68.071429,84.000000,126.857143,51.142857,68.571429,36.000000,3.142857
Ghost,551.714286,430.714286,59.142857,84.142857,82.285714,73.214286,78.071429,53.857143,4.785714
Water,400.000000,418.214286,62.714286,70.142857,85.071429,74.500000,68.642857,57.142857,3.428571
Fairy,379.043478,417.956522,64.304348,61.608696,73.869565,75.000000,81.956522,61.217391,3.565217
Normal,681.000000,411.500000,63.500000,52.750000,53.750000,88.000000,64.250000,89.250000,6.000000
Grass,505.400000,408.920000,62.640000,74.160000,80.120000,60.160000,74.520000,57.320000,4.480000
Poison,169.970588,396.500000,58.764706,67.588235,59.558824,74.029412,69.911765,66.647059,1.970588
Bug,382.000000,393.333333,53.333333,90.000000,80.000000,46.666667,61.666667,61.666667,3.333333

### Get count of each Type 1 Pokemon

In [101]:
df["Count"]=1
df.groupby(["Type 1"]).count()["Count"]

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Count, dtype: int64

### Count the number of pokemon with groupby "Type 1" and "Type 2"

In [102]:
df.groupby(["Type 1","Type 2"]).count()["Count"]

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: Count, Length: 136, dtype: int64